*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f5edf2;
}

/* HEADER */

header{
    position:relative;
    background:#09097d;
    color:white;
    text-align:center;
    padding:50px;
}

header h1{
    font-size:50px;
    margin-bottom:15px;
}

header p{
    font-size:20px;
}

/* MENU BUTTON */

.menu-btn{
    position:absolute;
    top:20px;
    right:30px;
    font-size:40px;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

/* HORIZONTAL NAVBAR */

.navbar{
    display:none;
    margin-top:25px;
    text-align:center;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-size:22px;
    font-weight:bold;
    transition:0.3s;
}

.navbar a:hover{
    color:#ff7b47;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
    background:#f5edf2;
}

.hero-content{
    width:60%;
}

.hero-content h2{
    color:#ff7b47;
    font-size:35px;
}

.hero-content h1{
    font-size:60px;
    margin:15px 0;
}

.hero-content p{
    font-size:22px;
    line-height:1.7;
}

.hero-image img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #ff7b47;
    box-shadow:0px 0px 15px rgba(0,0,0,0.3);
}

/* CARDS */

.card{
    background:#d9d7e3;
    margin:25px;
    padding:35px;
    border-left:6px solid #2b7db8;
    border-radius:15px;
}

.card h2{
    color:#ff7b47;
    margin-bottom:20px;
    font-size:38px;
}

.card p{
    font-size:22px;
    line-height:1.8;
}

/* SKILLS */

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#09097d;
    color:white;
    padding:12px 20px;
    border-radius:30px;
    font-size:18px;
}

/* PROJECTS */

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.project-box{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.project-box h3{
    margin-bottom:15px;
    color:#09097d;
}

/* CONTACT */

form{
    margin-top:25px;
    display:flex;
    flex-direction:column;
}

input,
textarea{
    margin-top:15px;
    padding:15px;
    font-size:18px;
    border:1px solid #ccc;
    border-radius:8px;
}

textarea{
    height:120px;
    resize:none;
}

button{
    margin-top:20px;
    padding:15px;
    border:none;
    background:#222;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#444;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

/* MOBILE */

@media(max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-content{
        width:100%;
    }

    .hero-image{
        margin-top:30px;
    }

    .hero-content h1{
        font-size:45px;
    }

    .hero-image img{
        width:250px;
        height:250px;
    }

    .menu-btn{
        font-size:32px;
    }

    .navbar a{
    display:block;
    margin:10px 0;
}
}